= tinymce

= form_for @admin_page do |f|
  -if @admin_page.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_page.errors.count, "error")} prohibited this admin_page from being saved:"
      %ul
        - @admin_page.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :text
    = f.text_area :text, class: "tinymce", style: 'width: 90%'
  .field
    = f.label :publish
    = f.check_box :publish
  .actions
    = f.submit 'Save'
