%p Hello,

%p You have been outbid on (Lot #{@auction.lot_number}, #{@auction.year} #{@auction.mark} #{@auction.model}).
%p Please #{link_to "click here an bid again!", auction_url(@auction)} Remember, place your HIGHEST maximum offer, and we will do the rest!
%p Please note- if we buy it for less then your maximum offer, you pay that price! All sales come with the reicpt from coart so you can see the final sales price.

= link_to "InternetAutoAuctions.com", 'http://internetauctions.com'

